<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        
        <div class="card mb-3" style="max-width: 540px;" *ngFor="let professional of list;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <a href="" [routerLink]="['schedule', professional.id]"><img src="assets/img/user.png" class="card-img" alt="..." /></a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{professional.name}}</h5>
                        <p class="card-text"><span class="text-primary">{{professional.branch}}</span> | {{professional.location}}</p>
                        <p class="card-text"><small class="text-muted"><span class="font-weight-bold">R${{professional.value}} </span> / {{professional.time}} MINUTES</small></p>
                        <p class="card-text">{{professional.about}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
